#--------------------------------------------------
# Répertoire : /
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on


# --------------------------------------------------
# DETAIL D'UN PROJET
# --------------------------------------------------

  # PATTERN: /projets/id/slug.html
  # URL: index.php?postId=x
  RewriteRule ^projets\/([1-9][0-9]*)\/([a-z0-9][a-z0-9\-]*)\/slug.html$ index.php?postId=$1 [L]



# --------------------------------------------------
# ROUTE DE SUPPRESSION D'UN PROJET:
# --------------------------------------------------
            #PATTERN: /projets/delete/id/slug.html
            #TO index.php?posts=delete&id=x
            #PAS DE TITLE CAR REDIRECTION VERS LA PAGE D'ACCUEIL
    RewriteRule ^projets\/([1-9][0-9]*)\/([a-z0-9][a-z0-9\-]*)\/slug.html$ index.php?posts=delete&id=$1 [L]

# --------------------------------------------------


# --------------------------------------------------
#   ROUTE DE MODIFICATION D'UN TAG: Formulaire de Modification
# --------------------------------------------------
        #PATTERN: /tags/id/slug/edit/form.html
        #TO tags.php?posts=editForm&id=x
        #FROM posts/xxx/edit/form

    RewriteRule ^tags\/([1-9][0-9]*)\/([a-z0-9][a-z0-9\-]*)\/edit\/form.html$ index.php?posts=editForm&id=$1 [L]
# --------------------------------------------------


# --------------------------------------------------
#     ROUTE DE MODIFICATION D'UN TAG: UPDATE
# --------------------------------------------------
        #PATTERN: /tags/id/slug/edit/update.html
        #TO tags.php?posts=editForm&id=x
        #PAS DE TITLE CAR REDIRECTION VERS LA PAGE D'ACCUEIL'
RewriteRule ^tags\/([1-9][0-9]*)\/([a-z0-9][a-z0-9\-]*)\/edit\/update.html$ index.php?posts=edit&id=$1 [L]


# --------------------------------------------------
# ROUTE DE LA NEWSLETTER
# --------------------------------------------------
        #  PATTERN: newsletter

RewriteRule ^newsletter$ index.php?abonnes=add [L]


# --------------------------------------------------
# ROUTE DE LA CONFIRMATION
# --------------------------------------------------
    #  PATTERN:confirmation 

RewriteRule ^newsletter$ index.php?abonnes=confirm [L]



# --------------------------------------------------

  RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
    RewriteRule ^(.*)$ index.php [L]
